<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.startproject.mapper.ProjectTrialFeedbackMapper">
    
    <resultMap type="ProjectTrialFeedback" id="ProjectTrialFeedbackResult">
        <result property="id"    column="id"    />
        <result property="mainid"    column="mainid"    />
        <result property="index"    column="index_no"    />
        <result property="feedid"    column="feedid"    />
        <result property="feedDate"    column="feedDate"    />
        <result property="productPerformance"    column="productPerformance"    />
        <result property="improvements"    column="improvements"    />
        <result property="solution"    column="solution"    />
    </resultMap>

    <sql id="selectProjectTrialFeedbackVo">
        select id, mainid, index_no, feedid, feedDate, productPerformance, improvements,solution from project_trial_feedback
    </sql>

    <select id="selectProjectTrialFeedbackList" parameterType="ProjectTrialFeedback" resultMap="ProjectTrialFeedbackResult">
        <include refid="selectProjectTrialFeedbackVo"/>
        <where>  
            <if test="mainid != null "> and mainid = #{mainid}</if>
            <if test="index != null "> and index_no = #{index}</if>
            <if test="feedid != null "> and feedid = #{feedid}</if>
            <if test="feedDate != null "> and feedDate = #{feedDate}</if>
            <if test="productPerformance != null  and productPerformance != ''"> and productPerformance = #{productPerformance}</if>
            <if test="improvements != null  and improvements != ''"> and improvements = #{improvements}</if>
        </where>
    </select>
    
    <select id="selectProjectTrialFeedbackById" parameterType="Long" resultMap="ProjectTrialFeedbackResult">
        <include refid="selectProjectTrialFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertProjectTrialFeedback" parameterType="ProjectTrialFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into project_trial_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainid != null">mainid,</if>
            <if test="index != null">index_no,</if>
            <if test="feedid != null">feedid,</if>
            <if test="feedDate != null">feedDate,</if>
            <if test="productPerformance != null">productPerformance,</if>
            <if test="improvements != null">improvements,</if>
            <if test="solution != null">solution,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainid != null">#{mainid},</if>
            <if test="index != null">#{index},</if>
            <if test="feedid != null">#{feedid},</if>
            <if test="feedDate != null">#{feedDate},</if>
            <if test="productPerformance != null">#{productPerformance},</if>
            <if test="improvements != null">#{improvements},</if>
            <if test="solution != null">#{solution},</if>
         </trim>
    </insert>

    <update id="updateProjectTrialFeedback" parameterType="ProjectTrialFeedback">
        update project_trial_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainid != null">mainid = #{mainid},</if>
            <if test="index != null">index_no = #{index},</if>
            <if test="feedid != null">feedid = #{feedid},</if>
            <if test="feedDate != null">feedDate = #{feedDate},</if>
            <if test="productPerformance != null">productPerformance = #{productPerformance},</if>
            <if test="improvements != null">improvements = #{improvements},</if>
            <if test="solution != null">solution = #{solution},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectTrialFeedbackById" parameterType="Long">
        delete from project_trial_feedback where id = #{id}
    </delete>

    <delete id="deleteProjectTrialFeedbackByIds" parameterType="String">
        delete from project_trial_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
<select id="selectProjectTrialFeedbackListByMainId" resultMap="ProjectTrialFeedbackResult">
        <include refid="selectProjectTrialFeedbackVo"/>
        where mainid = #{mainid}
</select>
</mapper>